
          <div class="collapse" id="jobHistory">
            <div class="card card-block">
              <div class="row">
                <div class="col-md-3">
                  <%= image_tag 'about/devcamp.png', width: '100%' %>
                </div>
                <div class="col-md-9">
                  <strong>pro</strong> - I am always being pro.
                </div>
              </div>
            </div>
            <div class="card card-block">
              <div class="row">
                <div class="col-md-3">
                  <%= image_tag 'about/w_blue.png', width: '100%' %>
                </div>
                <div class="col-md-9">
                  <strong>sweet mindstorm</strong> -programmed that thing.
                </div>
              </div>
            </div>
            <div class="card card-block">
              <div class="row">
                <div class="col-md-3">
                  <%= image_tag 'about/slate.png', width: '100%' %>
                </div>
                <div class="col-md-9">
                  <strong>Made Games</strong> - I made a couple games on khan.
                </div>
              </div>
            </div>
            <div class="card card-block">
              <div class="row">
                <div class="col-md-3">
                  <%= image_tag 'about/bottega.jpg', width: '100%' %>
                </div>
                <div class="col-md-9">
                  <strong>I ate a pineapple</strong> - It was delicous.
                </div>
              </div>
            </div>
          </div>
